<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICPC"
        tools:targetApi="31">
        <activity
            android:name=".tieba.AddPostActivity"
            android:exported="false" />
        <activity android:name=".tieba.ColumnActivity" />
        <activity
            android:name=".tieba.PostContentActivity"
            android:exported="true" />
        <activity
            android:name=".discover.DiscoverArticleActivity"
            android:exported="false" />
        <activity
            android:name=".fastlearning.Vedio_DetailActivity"
            android:exported="false" />
        <activity
            android:name=".message.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ai.Aides_Activity"
            android:exported="true" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true" />
        <activity android:name=".myinfor.EditingActivity"></activity>
        <activity
            android:name=".login.RetrieveActivity"
            android:exported="true" />
        <activity
            android:name=".search.Search_Fragment"
            android:exported="true"></activity>
        <activity
            android:name=".history.History_Fragment$DetailActivity"
            android:exported="true"></activity>
        <activity
            android:name=".history.History_Fragment$DsDemo1DetailActivity"
            android:exported="true"></activity>
        <activity android:name=".login.z_add" />
        <activity android:name=".login.z_delete" />
        <activity android:name=".login.z_change" />
        <activity android:name=".login.z_first" />
        <activity android:name=".login.z__add" />
        <activity android:name=".login.z__change" />
        <activity android:name=".discover.discover_add" />
        <activity android:name=".discover.discover_change" />
        <activity android:name=".discover.discover_delete" />
        <activity android:name=".discover.discover_article_content"></activity>
        <activity android:name=".myinfor.my_setting" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>